.addScreen {
  width: 80%;
  max-width: 950px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.formTitle {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.markdownInfo {
  display: flex;
  align-items: center;
}

.instructions {
  text-align: center;
  padding: 0.5rem;
}

.markdownInfo div {
  background-color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 15px;
  cursor: pointer;
}

.markdownInfo div:hover {
  background-color: rgb(226, 226, 226);
  position: relative;
}

.markdownInfo div:hover::after {
  content: "Using the Markdown format will allow you to start new lines in your Poem Text\ATo start a new line you must type 2 spaces at the end of your line and then press the enter key";
  white-space: pre-wrap;
  width: 250px;
  padding: 1rem;
  background-color: rgba(223, 223, 223, 0.7);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  opacity: 0.8;
  position: absolute;
  top: 30px;
  left: -50px;
}

@media (max-width: 900px) {
  .addScreen {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .markdownInfo div:hover::after {
    left: -260px;
  }
}
