.homeScreen {
  width: 100%;
  position: relative;
  background-color: #a3cff7;
  // background-color: white;
  padding-bottom: 3rem;
}

.poemContainer {
  margin: auto;
  width: 90%;
  padding-top: 5rem;
  max-width: 1000px;
}
