.homeScreen {
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
}

.mainSection {
  width: 80%;
  max-width: 950px;
  margin: auto;
  margin-bottom: 8rem;
}

.poemContainer {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 1100px) {
}

@media (max-width: 900px) {
  .mainSection {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .poemContainer {
    grid-template-columns: 1fr;
  }
}
