.poemScreen {
  width: 80%;
  max-width: 950px;
  margin: auto;
}

.poemScreenContent {
  padding-top: 100px;
  /* background-color: blue; */
}

.showTitle {
  margin: 0;
  margin-bottom: 1rem;
}

.authorDisplay .userIcon {
  width: 30px;
  height: 30px;
}

.authorDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.authorDisplay::after {
  position: absolute;
  transform: translateY(3rem);
  content: "";
  width: 80%;
  height: 1px;
  background-color: rgb(59, 59, 59);
}

.poemHolder {
  /* background-color: aqua; */
  margin-top: 1rem;
}

.poemScreenText {
  margin: auto;
  /* background-color: blueviolet; */
  width: fit-content;
  /* background-color: rgb(235, 235, 235); */
  padding: 2rem 4rem;
  line-height: 26px;
  /* border-top: 1px solid black; */
}

@media (max-width: 900px) {
  .poemScreen {
    width: 90%;
  }
}
