.poemDis-screen {
  background-color: #a3cff7;
  width: 100%;
  margin: auto;
  min-height: 70vh;
  height: 100%;
  position: relative;
  padding-top: 3rem;
}

.poemDis-inner {
  background-color: white;
  width: 70%;
  min-width: 600px;
  max-width: fit-content;
  margin: auto;
  padding-top: 3rem;
  box-sizing: border-box;
  padding: 3rem 3rem 4rem 3rem;
  border-radius: 25px;
  box-shadow: 0 3px 12px rgba(158, 158, 158, 0.6);
}

.poemDis-top-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  width: fit-content;
  margin: auto;
}

.poemDis-img-holder {
  width: 10rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 8rem;
}

.poemDis-img-holder > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.poemDis-header {
  width: 70%;
}

.poemDis-text-holder {
  position: relative;
  border-top: 1px rgb(190, 190, 190) solid;
  margin: auto;
  margin-top: 1.5rem;
  width: fit-content;
  min-width: 500px;
  padding-top: 2rem;
}

.authorDisplay {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.authorDisplay > p {
  font-size: 13px;
  color: rgb(109, 109, 109);
}

.poemDis-text {
  line-height: 1.7rem;
}

.poemDis-time {
  margin-top: 1.5rem;
  float: right;
  font-size: 13px;
  color: rgb(109, 109, 109);
}

//MOBILE RESPONSIVE
@media (max-width: 870px) {
  .poemDis-inner {
    width: 90%;
    min-width: 0;
    padding: 3rem 2rem 4rem 2rem;
  }

  .poemDis-text-holder {
    min-width: 0;
  }

  .poemDis-top-section {
    gap: 1rem;
  }

  .poemDis-img-holder {
    width: 7rem;
    height: 6rem;
  }
}
