.addScreen {
  width: 80%;
  max-width: 950px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.formTitle {
  margin-top: 100px;
  margin-bottom: 0.5rem;
}

.form {
  margin-top: 2rem;
}

.load-screen {
  margin: auto;
  width: 90vw;
  height: 30vh;
  position: relative;
}

@media (max-width: 900px) {
  .addScreen {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .markdownInfo div:hover::after {
    left: -260px;
  }
}
