.footer-outer {
  width: 100%;
  height: 20vh;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a3cff7;
}

.footer-outer p {
  text-align: center;
  margin: 1rem;
  font-size: 12px;
}

.social-holder {
  margin: 1rem;
}

.icon {
  color: #3d90df;
  font-size: 20px;
  margin: 0 0.8rem;
  cursor: pointer;
}

.footer-links-holder {
  display: flex;
  gap: 2rem;
}

.footer-links-holder > a {
  color: #3d90df;
}

.footer-links-holder > a:hover {
  text-decoration: underline;
  cursor: pointer;
}
