.load-object {
  position: absolute;
  background-color: #9ad1d4;
  width: 0px;
  height: 0px;
  border-radius: 100px;
  animation: loading 0.7s infinite;
}

.load-container :nth-child(1) {
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, -20%);
  animation-delay: 0.2s;
}
.load-container :nth-child(2) {
  left: 45%;
  bottom: 20%;
  transform: translate(-50%, -20%);
  animation-delay: 0.4s;
}
.load-container :nth-child(3) {
  left: 55%;
  bottom: 20%;
  transform: translate(-50%, -20%);
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    width: 15px;
    height: 15px;
  }

  70% {
    width: 5px;
    height: 5px;
  }
  95% {
    width: 18px;
    height: 18px;
  }
  100% {
    width: 15px;
    height: 15px;
  }
}
