.navBar {
  min-height: 50px;
  height: 6vh;
  display: flex;
  justify-content: center;
  z-index: 100;
  position: fixed;
  width: 100%;
  /* max-width: 100%; */
  background-color: rgb(53, 53, 53);
}

.navBarContainer {
  width: 65%;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageTitle {
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  margin-right: 0.6rem;
}

.pageTitle:hover {
  transition: 0.3s;
  color: #9ad1d4;
}

.featherIcon {
  color: white;
}

.navBtn {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: rgb(131, 131, 131);
  height: 1.5rem;
  line-height: 1.5rem;
  color: white;
}

.navBtn:hover {
  background-color: rgb(112, 112, 112);
  transition: 0.3s;
}

.plusIcon {
  width: 20px;
  height: 20px;
}

.navBtn-large {
  width: 7rem;
  letter-spacing: 1px;
  border-radius: 3px;
}

.navBtn-small {
  width: 1.5rem;
  display: none;
  border-radius: 100%;
}

@media (max-width: 900px) {
  .navBarContainer {
    width: 90%;
  }
  .navBtn {
    display: none;
  }
  .navBtn-small {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
