.notification-container {
  height: 1.5rem;
  // background-color: blue;
  text-align: center;
}

.notification-container > p {
  color: red;
  font-size: 13px;
  padding: 0.3rem;
  display: block;
}
