.poemFormContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 70%;
}

label {
  margin: auto;
  float: left;
  width: 200px;
  padding-right: 20px;
}

input {
  margin: auto;
  line-height: 25px;
  width: 100%;
  margin-bottom: 0.7rem;
}

input:focus {
  outline: none;
}

textArea {
  width: 100%;
  resize: none;
  padding-left: 4px;
  padding-top: 3px;
}

.submitButton {
  margin-top: 0.7rem;
  width: 100%;
  line-height: 25px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 0.3rem;
  background-color: #9ad1d4;
  border: none;
  border-radius: 3px;
}
.submitButton:hover {
  background-color: #84c1c4;
  transition: 0.3s;
}

@media (max-width: 900px) {
  form {
    width: 80%;
  }
}

@media (max-width: 720px) {
  form {
    width: 95%;
  }
}
