.poemFormContainer {
  width: 100%;
}

.poemFormContainer > Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}
.poemFormContainer > Form > label {
  margin-top: 0.7rem;
  margin-bottom: 0.2rem;
  padding-left: 8px;
  font-weight: bold;
}

.text-input {
  line-height: 2rem;
  padding-left: 15px;
  border-radius: 25px;
  border: solid 1px grey;
}

.image-input {
  border: none;
}

.poem-form > .input-holder {
  width: 100%;
  margin: 0.9rem 0 0 0;
}

.form-btn {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #577590;
}

.submit-button {
  border: none;
  outline: none;
  padding: 12px 28px;
  border-radius: 20px;
  color: white;
  background-color: #5ea8eb;
  cursor: pointer;
  font-size: 15px;
  width: 200px;
  margin: auto;
  margin-top: 1rem;
}

.submit-button:hover {
  background-color: #3d90df;
  transition: 0.3s;
}

::-webkit-file-upload-button {
  background: rgb(224, 224, 224);
  padding: 0.3rem;
  border: 1px black solid;
  border-radius: 3px;
  cursor: pointer;
  margin: 0.2rem 0.3rem 0.5rem 0.3rem;
  letter-spacing: 0.5px;
}

::-webkit-file-upload-button:hover {
  background: rgb(238, 238, 238);
  transition: 0.3s;
}

.form-author-section {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  padding-left: 8px;
  gap: 0.5rem;
  font-size: 14px;
}
